// * {
//   text-decoration: none;
// }
html {
  height: 100%;
}
* {
  box-sizing: border-box;
}

.search-bar {  
  margin:0 auto;
  width:100%;
  //height:auto;
  display:inline-block;


display: flex;
justify-content: space-between;
align-items: center;
background-color: #333;
height: auto;
padding: 10px;
form {
      flex-grow: 1;
  display: flex;
  align-items: center;
      max-width: 800px;
}
input[type=text] {
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  //max-width: 700px;
      flex-grow: 1;
      background-color: #f9efdb;
}

   ul {
    border-radius: 10px;
      margin:0;padding:0;
      list-style-type:none;
      //margin-left: 10px;
      margin-right: auto;
      display:inline-block;

      li {
          position:relative;
          //margin:0 20px 0 0;
          float:left;
          display:inline-block;
  
          a {
              padding:20px;
              display:inline-block;
              color:#f9efdb;
              text-decoration:none;
              width: 100%;
              &:hover {
        //opacity: 0.5;
                  background-color: #f9efdb;
                  color: #333;
                  transition: 0.5s;
      }
            }
          // >a {
          //     &:after {
          //         content: ' »';
          //     }
          //     &:only-child {
          //         &:after {
          //             content: '';
          //         }
          //     }
          // }
  
            ul {
              display:none;
              position:absolute;
              left:0;
              background:#333;
              float:left;
              li {
                  width:100%;
                  //border-bottom:1px solid rgba(255,255,255,.3);
                  margin-left: 0;
                }
            }
            &:hover {
              transition: 0.5s;
              ul {
                  display: block;
                  //background-color: #fff;
              }
          }
        }
  
    }

    .go-button {
      // padding: 8px;
      // margin-top: 8px;
      // margin-bottom: 8px;
      font-size: 18px;
      color: #333;
      text-decoration: none;
      padding: 8px;
      margin: 0 10px;
    
      border: none;
      border-radius: 5px;
      cursor: pointer;
      background-color: #f9efdb;
}
.go-button:hover {
  background-color: #333;
  color: #f9efdb;
  transition: 0.5s;
}
.login-register {
  //flex-grow: 1;
  margin-left: auto; 
  margin-right: 0;
  a {
      font-size: 18px;
      color: #f9efdb;
      text-decoration: none;
      padding: 8px;
      background-color: #333;
      border-radius: 5px;

  }
  a:hover {
      background-color: #f9efdb;
      color: #333;
      transition: 0.5s;
  }
  img {
    height: 40px;
  }
}
.logo{
  font-size: 18px;
  color: f9efdb;
  text-decoration: none;
  padding: 8px;
  border: none;
  background-color: #333;
  border-radius: 5px;

}

.logo:hover {
      background-color:#f9efdb;
      color: #333;
      transition: 0.5s;
}

  
}

@media (min-width: 768px) {
.search-bar {
  ul {
    li {
      margin: 0px 20px;
      >a {
        &:after {
            content: ' »';
        }
        &:only-child {
            &:after {
                content: '';
            }
        }
    }
    }
  }
}
}
@media (max-width: 768px) {
.search-bar {
    //flex-direction: column;
    //height: auto;
    input[type=text] {
        //width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

}
.login-register {
    display: flex;
    justify-content: space-between;
    //width: 100%;
    margin: 0;
}
}
body {
  margin: 0px;
  font-family: Arial, sans-serif;
  height: 100%;
}
h2 {
  margin: 0px;
}
.heading {
  background-color: #f9efdb;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  color: #333;
}
.flight-list {
  table {
    border-collapse: collapse;
    width: 100%;
    // max-width: 800px;
    margin: 0 auto;
    th, td {
      border-bottom: 1px solid #ddd;
      padding: 8px;
      text-align: center;
      vertical-align: middle;
     
    }
    th {
      background-color: #f9efdb;
      font-weight: bold;
      text-transform: uppercase;
      color: #333;
    }
    tbody {
      background-color: #522222;
      color: #f9efdb;
     
      tr {
        // &:nth-child(even) {
        //   background-color: #f9efdb;
        // }
        // td:last-child {
          text-align: center;
          // .delete {
          //   background-color: #a3261d;;
          //   color: white;
          //   border: none;
          //   border-radius: 4px;
          //   padding: 8px 16px;
          //   text-align: center;
          //   text-decoration: none;
          //   display: inline-block;
          //   //font-size: 14px;
          //   cursor: pointer;
          //   &:hover {
          //     opacity: 0.5;;
          //   }
          // }

          .details {
            //background-color: #f44336aa;
            color: #f9efdb;
            border: none;
            border-radius: 4px;
            padding: 8px 16px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            //font-size: 14px;
            cursor: pointer;
            text-decoration: underline;
            &:hover {
              opacity: 0.5;
              transition: 0.5s;
            }
          }

        //}
      }
    }
    tfoot {
      background-color: #f9efdb;
    }
    .last-row{
      height: 50px;
      background-color: #f9efdb;
    }
  }
  @media screen and (max-width: 600px) {
    table {
      font-size: 14px;
      th, td {
        padding: 6px;
      }
      td:last-child {
        button {
          padding: 6px 12px;
        }
      }
    }
  }
}


footer {
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #f9efdb;;
  //padding: 20px 0;
  
  h4 {
    color: #f9efdb;;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 14px;
    line-height: 1.5;
  }

ul {
  list-style: none;
  padding: 0;
  color: #f9efdb;
  li {
    font-size: 14px;
  }
}
a {
  color: #f9efdb;;

  transition: all 0.3s ease;
  
  &:hover {
    transition: 0.5s;
    opacity: 0.5;
  }
  }
  
  .contact-us {
  // ul {
  //   li {
      
  //     line-height: 1.5;
  //     margin-bottom: 10px;
      
  //     i {
  //     margin-right: 10px;
  //     }
  //   }
  // }

}

.follow-us {
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    
    li {
     
      margin-right: 10px;
            margin-bottom: 10px;

    }
  }  
}
  
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    
    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 20px;
    }
  }
}

